<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neusoft.fruitvegemis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/BaseThemeNoActionBar"
            android:configChanges="keyboardHidden|orientation|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/BaseThemeNoActionBar"
            android:configChanges="keyboardHidden|orientation|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/BaseThemeNoActionBar"
            android:configChanges="keyboardHidden|orientation|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|layoutDirection"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadDialogActivity"
            android:theme="@style/BaseThemeActivityDialog"
            android:configChanges="keyboardHidden|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>